<h1>Nueva Consulta </h1> 
<% form_for(@consulta, '/consultas/create') do |f| %>
  	
  <%= partial 'consultas/form', :locals => { :f => f } %>

  <%= f.submit "Enviar Consulta", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', url_for(:consultas, :my), :class => "btn btn-secondary" %>
<% end %>
